* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {

    header p {
        margin: 70px 0;
    }
    
    .menu ul li {
        font-size: 1.4rem;
    }
    
    header.hero div p:first-child {
        font-size: 3rem;
        font-weight: 700;
    }
    
    header.hero div {
        display: flex;
        justify-content: space-around;
    }

    /*page 2*/
    body section {
        padding: 20px 20px;
        justify-content: start;
    }

    .page2-content .path img {
        width: 200px;
        height: 300px;
    }

    .page2-content .path {
        justify-content: center;
    }

    .page2-content ul p {
        font-size: 2rem;
    }

    .page2-content figcaption {
        font-size: 1.1rem;
    }

    .page2-content figure img {
        width: 4rem;
        height: auto;
        margin: 0 30px;
    }

    .page2-content figure {
        margin: 15px 0;
    }
    
    /*page 3*/
    section .content p {
        font-size: 3rem; 
        font-weight: 600;
    }

    .content .advantages-list .advantage .number {
        font-size: 4rem;
    }

    .content .advantages-list .advantage .text-container .title {
        font-size: 2rem;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

}

section {
    height: auto;
    padding: 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

nav .logo {
    font-size: 3rem;
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-div{
    display: flex;  
    justify-content: space-between; 
    height: 60px;
    align-items: center;
    margin: 0;
}        

.exib-title {
    font-size: 50px;
    margin: 0;
}

.share-to-world {
    position: relative;
    font-size: 300%;
    bottom: -500px;
    height: 140px;
    width: 1000px;
    margin: 30px;
    border-radius: 20px;
    color: white;
    background-color: black;
}

.menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06ff00;
	padding: 0px 50px;
}

.menu p.logo {
	font-size: 50px;
	width: 80%;
}

.menu ul {
	list-style: none;
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu ul li a {
	list-style: none;
	text-decoration: none;
	color: black;
	font-weight: 600;

}

.menu ul li {
	padding: 8px 30px;
	cursor: pointer;
}

.menu ul li:last-child {
	color: white;
	background-color: #015500;
}

.menu ul li:last-child a {
	color: white;
}

.menu ul li:hover:last-child a {
	color: black;
}

.menu ul li:hover {
	background-color: #acfcab;
}

header.hero {
	width: 100%;
	background-image: url('../images/first-background.png');
}

header.hero div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

header.hero div p:last-child {
	padding: 20px 50px;
	background-color: black;
	border-radius: 10px;
	margin-top: 20px;
}

header.hero div p:last-child a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.page2-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.page2-content p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    text-align: start;
}

.page2-content li figure {
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-around; 
    flex-flow: row nowrap;
    align-items: center;
}

.page2-content ul figcaption {
    text-align: flex-start;
    max-width: 50vw;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.page2-content .path img {
    position: relative;
    left: 0;
    width: auto;
}

.page2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container h2 {
    margin: 0;
}

.content p, .content ul, .content div {
    margin: 50px 0;
}

.content .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;  
}

.content .advantage .title {
    font-size: 45px;
}

.content .advantage .number {
    font-size: 120px;
    color: yellow;
    font-weight: 900;
    margin-right: 15px;
}

.content .advantage p {
    font-size: 30px;
}

.content .advantage .text-container{
    max-width: 380px;
}

.content .advantage .text-container h1 {
    margin: 0px 0px 20px 0px;   
}

.advantages-list .advantage {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0px 0px 0px 0px; 
}

.content p {
    font-size: 100px;
}

.content .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0;
    height: 700px;
}

.content .publish-your-campaign-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.content .publish-your-campaign-button a {
    border-radius: 30px;
    font-size: 40px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.earn-points-by-interacting ul {
    display: flex;
    flex-flow: row wrap;
    margin: 200px 0;
    justify-content: center;
    list-style: none;
}

.earn-points-by-interacting figure img {
    width: 40%;
    height: 40%;
}

.earn-points-by-interacting li {
    height: auto;
    width: auto;
}

.earn-points-by-interacting figure {
    height: 40vh;
    width: 20vw;
    border-radius: 20px;
    background-color: #EFEFEF;
    margin: 0px 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.earn-points-by-interacting figure figcaption {
    font-size: 23px;
}

.earn-points-by-interacting p {
    font-size: 80px;
}

.earn-points-by-interacting {
    text-align: center;
    margin: 0;
}

.earn-points-by-interacting .central{
    transform: translateY(-50px);
}

.featured-campaigns {
    width: 100%;
}

.featured-campaigns p {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.featured-campaigns h1 {
    text-align: center;
    font-size: 80px;
}

.featured-campaigns ul {
    display: flex;  
    justify-content: space-around;
    margin-top: 200px;  
    flex-wrap: wrap;
}

.featured-campaigns li {
    width: 370px;
    height: 479px;
    padding: 25px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-campaigns figure {
    height: 250px;
    width: 310px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-campaigns .campaigns-buttons {
    display: flex;
    justify-content: space-between;
    width: 310px;   

}

.featured-campaigns .campaigns-buttons button{
    margin: 0;
}   

.know-more-button {
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: large;
}

.invest-button {
    height: 50px;
    width: 140px;
    border-radius: 8px;
    font-size: large;
    background-color: rgb(0, 255, 0);
    color: black;
}

.title {
    font-size: 80px;
}

.upper-image {
    width: 23%;
    height: 25%;
}

.modalities ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.modalities ul li {
    width: 487px;
    height: 508px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: rgba(241, 240, 240, 0.948);
    margin: 0;
}

.modalities li img {
    height: 20%;
    width: 35%;
}

.modalities li .title {
    font-size: 55px;
    font-weight: 600;
}

.modalities li figcaption {
    font-size: 1.2rem;
    font-weight: 700;
}

.modalities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    width: 1400px;
    text-align: center;
}

.modalities ul {
    display: flex;
    justify-content: space-between;
}

.page7 {
    height: 700px;
    padding: 120px 100px;
    display: flex;
    justify-content: start;
}

.page7-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: 0;
}

.page7-content p {
    margin: 0;
}

.and-you {
    font-size: 900%;
    font-weight: normal;
}

.and-you span {
    color: rgb(0, 255, 0);
    font-weight: normal;
}

.how-we-can-help {
    width: 45%;
    font-size: 40px;
}

.last-page-buttons {
    display: flex;  
    margin: 0px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    justify-content: space-between;
}

.last-page-buttons button {
    margin: 0px;
    width: 44%;
    font-size: 160%;
    padding: 1px 2px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
}

.exib-name-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 800%;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 35px 0px;
    list-style: none;
}

.lower { 
    display: flex;
    flex-direction: column;
    text-align: start;
    min-width: 50%;
    gap: 8px;   
}

.upper {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.upper li, .lower li {
    font-size: 1rem;
    margin: 0px;
    text-align: start;
    font-weight: normal;
}

.upper li {
    color: rgb(188, 186, 186);
    margin-bottom: 20px;
}

.social-icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-icons-footer img {
    width: 2rem; 
    height: 2rem;
}